@media screen and (max-width: 770px) {
  .row {
    margin: 0; }

  .activity_box .wrapper .btn_baoming a {
    width: 100% !important; } }
a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  outline: none; }

body {
  background: #170801;
  color: #d8b866; }

#hd_bottom {
  background-color: #dab766;
  height: 4px;
  border: none;
  margin: 0px; }

.row {
  width: 100%; }

.banner {
  border-top: 4px solid #dab766;
  max-height: 320px;
  overflow: hidden; }

p {
  font-size: 14px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 18px; }

@media screen and (min-width: 1400px) {
  .container {
    width: 74%; } }
#hd_bottom_1 {
  background-color: #dab766;
  height: 1px;
  border: none;
  margin: 0px; }

.b-border {
  border: 0; }

.banner {
  border: 0; }

.linkRoute {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #3d2b15;
  color: #feefc6;
  margin-bottom: 55px; }

.linkRoute a {
  color: #feefc6;
  margin: 0 15px;
  font-size: 14px; }

.linkRoute a:hover {
  color: #c8a65c; }

.linkRoute .firstLink {
  margin-left: 0; }

.activity_box .wrapper {
  margin: 0 auto;
  float: none;
  padding: 0; }
  .activity_box .wrapper .pic {
    margin-bottom: 50px; }
    .activity_box .wrapper .pic img {
      width: 100%; }
  .activity_box .wrapper .content {
    border-bottom: 1px solid #3d2b15; }
    .activity_box .wrapper .content h3 {
      height: 18px;
      line-height: 18px;
      font-size: 18px;
      margin-bottom: 9px;
      margin-bottom: 20px; }
    .activity_box .wrapper .content p {
      height: 24px;
      line-height: 24px;
      font-size: 13px; }
    .activity_box .wrapper .content .finish {
      margin-bottom: 35px; }
  .activity_box .wrapper .artical {
    padding: 40px 0 80px;
    border-bottom: 1px solid #3d2b15; }
    .activity_box .wrapper .artical p {
      line-height: 24px; }
  .activity_box .wrapper .btn_baoming a {
    color: #dab765;
    display: block;
    width: 400px;
    height: 40px;
    background-color: #160702;
    line-height: 40px;
    text-align: center;
    margin: 58px auto 160px;
    border-radius: 5px;
    border: 1px solid #dab765; }
  .activity_box .wrapper .btn_baoming a:hover {
    color: #160702;
    background: #dab765; }

#mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0; }
  #mask .form {
    width: 550px;
    height: 400px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fbe8b9;
    padding: 15px;
    padding-top: 50px; }
    #mask .form input {
      height: 40px;
      width: 260px;
      border: 1px solid #89785d;
      background: #fbe8b9;
      border-radius: 5px;
       }
    #mask .form p {
      margin-bottom: 30px; }
      #mask .form p span {
        float: left;
        width: 150px;
        text-align: right;
        font-size: 16px;
        margin-right: 20px;
        height: 40px;
        line-height: 40px;
        color: #170801; }
      #mask .form p input {
        float: left;
        outline: none; }
    #mask .form .btn_1 {
      width: 260px;
      margin-left: 170px; }
      #mask .form .btn_1 #remove {
        float: left; }
      #mask .form .btn_1 #sure {
        float: right;
        background: #f9c54b;
        border: 0 !important; }
      #mask .form .btn_1 button {
        width: 100px;
        height: 40px;
        background: #fbe8b9;
        outline: none;
        font-size: 14px;
        border: 1px solid #89785d; }
      #mask .form .btn_1 #sure:hover {
        background: #ecb737; }


/*# sourceMappingURL=activityInfo.css.map */
