@media screen and (max-width: 766px) {
  .activity_news ul li .news_pic, .activity_news ul li .news_inner {
    float: none;
    margin: 0 auto; }

  /*.forum .title_select div.box {
    width: 192px; }*/

  .forum .title_select div.box a {
    margin: 0; }

  .forum_content ul li {
    float: none;
    margin: 60px auto 0; } }
@media screen and (max-width: 993px) {
		.forum .container .forum_content ul li{
			border: 0;
		}
}
body {
  background: #1D0c04;
  color: #d8b866; }

#hd_bottom {
  background-color: #dab766;
  height: 4px;
  border: none;
  margin: 0px; }

.row {
  width: 100%; }

.banner {
  width: 100%;
  max-height: 570px;
  overflow: hidden;
}

p {
  font-size: 14px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 18px; }
/*移动端414px*/
/*@media screen and (max-width: 415px) {
	.linkRoute{
		display: none;
	}
	.forum .container .title_select{
		height: auto;
	}
	.forum .container .title_select .box a{
		float: none!important;
	}
	.forum .container .forum_content ul li{
		margin-top: 0;
	}
	.forum .container .forum_content ul li .new_pic{
		padding: 0;
	}
	.forum .container .forum_content ul li .new_pic .time{
		left: 0;
		top: 0;
	}
}*/
@media screen and (min-width: 1400px) {
  .container {
    width: 74%; } }
#hd_bottom_1 {
  background-color: #dab766;
  height: 1px;
  border: none;
  margin: 0px; }

.b-border {
  border: 0; }



a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  outline: none;
  color: #d8b866; }

.linkRoute {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #3d2b15;
  font-family: "Optima Regular";
color: #edc048;
  margin-bottom: 55px; }

.linkRoute a {
  font-family: "Optima Regular";
	color: #edc048;
  margin: 0 15px;
  font-size: 18px; }

.linkRoute a:hover {
  color: #dab766; }

.linkRoute .firstLink {
  margin-left: 0; }
.forum_content ul{
	padding-bottom: 100px;
}
.forum_content ul li:nth-child(4),.forum_content ul li:nth-child(5),.forum_content ul li:nth-child(6){
	border: 0!important;
}
.forum .title_select {
  height: 54px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #3d2b15; }
  .forum .title_select .box {
    width: 350px;
    margin: 0 auto; }
  .forum .title_select a {
    display: block;
    float: left!important;
    padding: 0 16px;
    margin-right: 25px;
    height: 54px;
    font-family: "Optima Regular";
		color: #ffda84;
    line-height: 54px;
    text-align: center;
    font-size: 18px; }
  .forum .title_select .active {
    border-bottom: 2px solid #dab765;
    color: #edc048; }
  .forum .title_select .trailer {
    float: left; }
  .forum .title_select .review {
    float: right;
    margin-right: 0; }
.forum .forum_2 {
  display: none; }
.forum .forum_content ul li {
  margin-top: 60px;
  padding-bottom: 45px;
  border-bottom: 1px solid #3d2b15; }
  .forum .forum_content ul li .new_pic {
    position: relative;
    padding: 15px; }
    .forum .forum_content ul li .new_pic img {
      width: 100%;
      margin-bottom: 20px; }
    .forum .forum_content ul li .new_pic .time {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 103px;
      line-height: 34px;
      text-align: center;
      height: 34px;
      background: #dab765;
      color: #000000; }
    .forum .forum_content ul li .new_pic .news_title p {
      height: 30px;
      line-height: 30px;
      font-family: "Optima Regular";
			font-size: 16px;
			color: #edc048;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
.forum .activity_news {
  padding-top: 20px;
  display: none; }
  .forum .activity_news li {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 35px;
    border-bottom: 1px solid #3d2b15;
    position: relative; }
  .forum .activity_news li a:hover {
    color: #feefc6 !important; }
  .forum .activity_news .news_pic img {
    width: 100%; }
  .forum .activity_news .news_inner {
    padding-right: 0;
    position: relative; }
    .forum .activity_news .news_inner h3 {
      height: 50px;
      line-height: 30px;
      font-size: 18px; }
    .forum .activity_news .news_inner p {
      line-height: 24px; }
  .forum .activity_news .more {
    position: absolute;
    right: 0;
    bottom: 35px; }
  .forum .activity_news .more:hover {
    color: #feefc6; }

@media screen and (max-width: 1400px) {
  .new_pic img{
    height: 280px;
  }
}
@media screen and (min-width: 1400px) {
  .new_pic img{
    height:330px;
  }
}
/*修改*/
@media only screen and (max-width:768px) {
  .linkRoute {
    display: none;
  }

  .forum .title_select {
    height: 54px;
    margin: 10px auto 20px;
    border-bottom: 1px solid #3d2b15;
  }

  .forum .forum_content ul li .new_pic {
    position: relative;
    padding: 0px;
  }
  .forum .title_select .box {
    width: 300px;
    margin: 0 auto;
  }
}
