<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--XML文件路径-->
    <add key="XMLFilePath" value="aes.xml"/>

    <!--获取token的url-->
    <add key="TokenUrl" value="http://www.smartjs.org:8082/esb/as/json/gt"/>

    <!--用户名-->
    <add key="UserName" value="datahubsys"/>

    <!--密码-->
    <add key="Password" value="chengdulifang"/>

    <!--用户代码-->
    <add key="UserCode" value="5faaa316"/>

    <!--API版本号-->
    <add key="Version" value="v1.0"/>

    <!--获取数据的url前部-->
    <add key="DataUrlHeader" value="http://www.smartjs.org:8082/esb/as/json/ac/"/>
  </appSettings>
</configuration>