<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
    <rewrite>
      <rules>
        <rule name="backrule">
          <match url="^userList|^addUser|^addRoles|^assignRoles|^changeRoles|^banner|^addBanner|^moduleList|^infoList|^addInfo|^resourceList|^addResource|^auditResource|^addColumn|^columnList|^dataStatistics|^systemLo|^siteSettings|^information|^password|^relatedLink|^index|^detialInfo|^changeResource" />
          <action type="Rewrite" url="/admin/master" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!--文件上传大小配置  500M-->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
