body {
	background: #170801;
	color: #d8b866;
}
.banner img {
    width: 100%;
}
#jiathis_sers{
	height: 230px !important;
}
.top-list li{
	cursor: pointer;
}

/*公用头部*/
.link-btm-info ul li a{
	color: #DAB766;
}
    .link-btm-info ul li a:hover {
        text-decoration: underline !important;
        color: #ffebbf;
    }
.row {
    margin-right: 0;
    margin-left: 0;
}
.container ,.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.padding_0 {
	padding: 0;
}

.height {
	height: 90px;
}

.brown {
	color: #170801;
}

.yellow {
	color: #d8b665;
}

.b3-border {
	border-bottom: 3px solid #d8b665;
}

.b1-border {
	border-bottom: 1px solid #3e2b15;
}

.r-border {
	border-right: 1px solid #d8b665;
}

.pt60 {
	padding: 60px 0;
}

.pl40 {
	padding-left: 40px;
}

.mr18 {
	margin-right: 18px;
}

.mt25 {
	margin-top: 25px!important;
}

.mt40 {
	margin-top: 34px!important;
}

.mt30 {
	margin-top: 30px!important;
}

.ml15 {
	margin-left: 15px!important;
}

.mb25 {
	margin-bottom: 25px!important;
}

.fz24 {
	font-size: 24px;
}

.fr {
	float: right!important;
}

.fl {
	float: left!important;
}

.over {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

body {
	background: #170801;
}

.nav-bg {
	background: #170801;
	min-height: 90px;
	overflow: hidden;
}

.logo {
	overflow: hidden;
	height: 90px;
}

.logo img {
	position: absolute;
	top: 50%;
	margin-top: -32px;
}

.top-list {
	width: 100%;
	height: 90px;
}

.top-list ul {
	overflow: hidden;
	padding-left: 25px;
}

.top-list ul li {
	list-style: disc;
	color: #d8b665;
	font-size: 14px;
	float: left;
	padding-right: 45px;
	line-height: 90px;
}

.login {
	color: #d8b665;
	font-size: 14px;
}

.top-listLi5 {
	list-style: none !important;
	float: right !important;
	padding-right: 0px !important;
}

.top-listLi6 {
	list-style: none !important;
	float: right !important;
	padding: 0 5px !important;
}

.top-listLi7 {
	list-style: none !important;
	float: right !important;
	padding-right: 0px !important;
}

.top-list ul li a {
	color: #d8b665;
	text-decoration: none;
}

.top-list ul li a:visited {
	color: #d8b665;
}

.top-list ul li a:hover {
	color: #d8b665;
}

.nav-list {
	width: 1000px;
	margin: 0 auto;
	height: 64px;
}

.nav-list ul {
	overflow: hidden;
}

.nav-list ul li {
	float: left;
	width: 100px;
	height: 64px;
	text-align: center;
	line-height: 64px;
	color: #dab766;
}

/*.nav-list ul li:hover {
	background-image: url(../img/index/banner/menu_button.png);
}

.nav-list ul a:hover li {
	color: #DAB963;
}*/

.nav-list ul a.active li {
	background-image: url(../img/index/banner/menu_button.png);
	color: #170801;
}

.menu-btn {
	display: none;
	width: 40px;
	height: 30px;
	float: right;
	margin: 30px 10px;
	cursor: pointer;
}

.hide-top-list {
	text-align: center;
	display: none;
	width: 100%;
	position: absolute;
	height: 300px;
	overflow-y: auto;
	top: 90px;
	left: 0;
	z-index: 9;
	background: #170801;
}

.hide-top-list ul {
	overflow: hidden;
	width: 100%;
}

.hide-top-list ul li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	font-size: 14px;
	color: #d8b665;
}

.hide-top-list ul li:hover {
	background: #d8b665;
	color: #170801;
}

.mAp0 {
	margin: 0;
	padding: 0;
}
.nav-list ul li{font-size: 16px;}



/*页面下面的长线*/
.line{
	width: 100%;
	height: 0px;
	border-top: 1px solid #DAB766;
}
/*回到顶部*/
.toTop{
	width: 50px;
	height:50px;
	position: fixed;
	z-index: 999;
	right:46px;
	bottom: 100px;
	display: none;
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
}
.toTop:hover .hoverImg{
	display: block;
}
.toTop:hover .bgarr{
	display: none;
}
.hoverImg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	display: none;
}
.bgarr{
	width: 100%;
	height:100%;
}
/*媒体查询*/
@media (min-width:320px) {
	.top-list {
		display: none;
	}
	.nav-list {
		display: none;
	}
	.menu-btn {
		display: block;
	}
	.r-border {
		border-right: 1px solid #170a01;
	}
	.text {
		margin-top: 40px!important;
	}
	/*.shows-box {
		height: 200px!important;
	}*/
}

@media (min-width:768px) {
	.top-list {
		display: none;
	}
	.nav-list {
		display: none;
	}
	.menu-btn {
		display: block;
	}
	.r-border {
		border-right: 1px solid #170a01;
	}
	.text {
		margin-top: 40px!important;
	}
	.shows-box {
		height: 200px!important;
	}
}

@media (min-width:992px) {
	.top-list {
		display: block;
	}
	.nav-list {
		display: block;
	}
	.menu-btn {
		display: none;
	}
	.mt25 {
		margin-top: 80px!important;
	}
	.r-border {
		border-right: 1px solid #dab766;
	}
	.text {
		margin-top: 100px!important;
	}
	.shows-box {
		height: 495px!important;
	}
	.link-btm-info ul li {
		margin-right: 10px;
	}
}

@media (min-width:1200px) {
	.top-list {
		display: block;
	}
	.nav-list {
		display: block;
	}
	.menu-btn {
		display: none;
	}
	.mt25 {
		margin-top: 80px!important;
	}
	.r-border {
		border-right: 1px solid #dab766;
	}
	.text {
		margin-top: 100px!important;
	}
	.shows-box {
		height: 495px!important;
	}
}

@media (min-width:1400px) {
	.aa {
		width: 74%;
	}
	.nav-list ul li {
		width: 112px;
	}
	.nav-list {
		width: 1120px;
	}
	
}


/*页脚*/
.no-padding {
	padding: 0px !important;
}
/*联系我们*/

.callmeP1 {
    font-size: 18px;
    color: #DAB766;
    margin-top: 60px;
}

.callmeP2 {
    font-size: 14px;
    color: #DAB766;
    margin: 22px 0px 10px 0px;
}

.callmeP3 {
    font-size: 14px;
    color: #DAB766;
}

.color {
	color: #a14716;
	font-size: 14px;
}

.twopic {
	margin: 30px 0px 0px 0px;
}
.twopicDiv1{
    padding-left: 0px;
}
.twopic p {
	margin:22px 0px 10px 18px !important;
}

.twopic p img {
	margin-right: 10px;
	margin-top: -6px;
}


/*友情链接*/
.linkP1 {
    font-size: 18px;
    color: #DAB766;
    margin-top: 60px;
}


/*模拟下拉*/
.divselect{
	width: 300px;
	height: 40px;
	border: solid 1px #DAB766;
	position: relative;
	margin-top: 28px;
}
.divselect cite{
	padding-right: 45px;
	width: 298px;
	height: 38px;
	display: block;
	color: #DAB766;
	font-size: 16px;
	line-height: 38px;
	text-indent: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	background: #170801 url(../img/arrows/triangle.png) no-repeat 95% 50%;
}
.divselect ul{
	display: none;
	background: #170801;
	z-index: 999;
	width: 300px;
	border: solid 1px #DAB766;
	position: absolute;
	left: -1px;
	top: 40px;
}
.divselect ul li a{
	line-height: 38px;
	text-indent: 16px;
	font-size: 16px;
	display: block;
	height: 38px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
    .divselect ul li a:link, .divselect ul li a:visited, .divselect ul li a:hover, .divselect ul li a:active {
        text-decoration: none;
        color: #dab766;
    }
.divselect ul li a:hover{
	background: #ffda84;
	color: #160700 !important;
}
.help {
	font-size: 18px;
	color: #DAB766;
	margin-top: 106px;
}

.link-btm-info ul li {
	font-size: 14px;
	color: #DAB766;
	float: left;
	margin-right: 24px;
}

.link-btm-info {
	margin-top: 26px;
	margin-bottom: 86px;
}


/*版权*/
.copyright{
	width: 165px;
	float: right;
}
.copyright div {
	margin-top: 60px;
}

.copyrightP1 {
    margin-top: 129px;
    font-size: 14px;
    color: #DAB766;
    text-align: center;
}

.copyrightP2 {
    font-size: 14px;
    color: #DAB766;
    margin-top: 16px;
    text-align:center;
}


/*页脚的媒体查询*/


/*大于1400px 大大的屏幕*/

@media only screen and (min-width: 1400px) {
	.footer {
		width: 74%;
	}
	.twopic div{
		padding: 0px;
	}
}


/*小于992px 平板*/

@media only screen and (min-width:768px) and (max-width: 992px) {
	.help {
		margin-top: 82px;
	}
    .copyrightP1 {
        margin-top: 106px;
    }
	.link-btm-info {
		margin-bottom: 86px;
	}
	.link-btm-info ul li {
		margin-right: 14px;
	}
}


/*小于768px  手机*/
.BtmLine {
    width: 90%;
    border-top: 1px solid #3d2b15 !important;
}
@media only screen and (max-width: 768px) {
    .relics-carousel {
        display: none;
    }
    .linkP1 {
        margin-top: 30px;
    }
	.help {
		margin-top: 30px;
	}
    .copyrightP1 {
        margin-top: 30px;
    }
	.copyright div {
		margin-top: 30px;
	}
    .copyrightP2 {
        margin-bottom: 20px;
    }
	/*.copyright{
		float: none;
	}*/
    /*修改*/
    /*文字*/
    .BtmLine {
    display:none;
    } .callme {
        text-align: center;
    }
    /*两个二维码*/
    .twopic .img-responsive {
        width: 168px;
        margin: auto;
        height: 168px;
    }
    /*链接里面的文字*/
    .link {
        text-align: center;
        height: 340px;
    }
    /*两个下拉框*/
    .divselect {
        margin: 10px auto 0px;
    }
    /*相关链接*/
    .link-btm-info {
        display: inline-block;
    }
    /*版权*/
    .copyright {
        width: 100%;
        text-align: center;
    }
        /*版权的图片*/
        .copyright img {
            margin: auto;
        }

    .copyrightP1 {
        width: 100%;
        text-align: center;
    }
    .link-btm-info ul li {
        margin-right: 14px;
    }
    .footer {
 padding:0px 10px;   
    }
    .toTop {
    width:0px;
    height:0px;
    overflow:hidden;
    }
    .jiathis_style {
    display:none;

    }
    aside {
    display:none;
    }
}
.weixincolor {
    color: #42ae3c;
}
.top-listLi6 {
    margin: 0px 6px;
}

.top-listLi5,
.top-listLi6,
.top-listLi7 {
    cursor: initial !important;
}

    .top-listLi5 a:hover,
    .top-listLi6 a:hover,
    .top-listLi7 a:hover {
        text-decoration: underline !important;
    }
#OtherList, #GovernmentalList {
    height: 200px;
    overflow-y: scroll;
}
/*下拉条的样式*/
    #OtherList::-webkit-scrollbar-track,
    #GovernmentalList::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #170a01;
    }

    #OtherList::-webkit-scrollbar,
    #GovernmentalList::-webkit-scrollbar {
        width: 10px;
        background-color: #170a01;
    }

    #OtherList::-webkit-scrollbar-thumb,
    #GovernmentalList::-webkit-scrollbar-thumb {
        background-color: #3d2c15;
        border-radius: 4px;
    }

/* 滑动条ie */
#OtherList, #GovernmentalList {
    scrollbar-face-color: #3d2c15; /*滚动条3D表面（ThreedFace）的颜色*/
    scrollbar-highlight-color: #3d2c15; /*滚动条3D界面的亮边（ThreedHighlight）颜色*/
    scrollbar-shadow-color: #3d2c15; /*滚动条3D界面的暗边（ThreedShadow）颜色*/
    scrollbar-3dlight-color: #3d2c15; /*滚动条亮边框颜色*/
    scrollbar-arrow-color: #dab766; /*滚动条方向箭头的颜色 */
    scrollbar-track-color: #170a01; /*滚动条的拖动区域(TrackBar)颜色*/
    scrollbar-darkshadow-color: #170a01; /*滚动条暗边框（ThreedDarkShadow）颜色*/
}
/*轮播*/
.relics-carousel .slideBox {
    width: 750px;
    max-height: 400px;
    position: relative;
    margin: 0 auto;
    margin: 1.7% auto;
}

.slideBox .bd img {
    width: 750px;
    max-height: 400px;
}

.slideBox .bd li {
    width: 750px;
    max-height: 400px;
}

.slideBox .prev, .slideBox .next {
    display: inline-block;
    position: absolute;
    top: 50%;
    opacity: .7;
    filter: alpha(opacity=70);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
    -o-transform: translate(-50%, -50%); /* Opera */
    -moz-transform: translate(-50%, -50%); /* Firefox */
}

    .slideBox .prev:hover, .slideBox .next:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }
/*左箭头*/
.slideBox .prev {
    left: -8%;
}
/*右箭头*/
.slideBox .next {
    right: -13%;
}
.description h4 {
    margin-bottom: 30px;
}