@media screen and (max-width: 770px) {
	.row {
		margin: 0;
	}
	.activity_box .wrapper .btn_baoming a {
		width: 100% !important;
	}
}

a,
a:link,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	outline: none;
}

body {
	background: #170801;
	color: #d8b866;
}

#hd_bottom {
	background-color: #dab766;
	height: 4px;
	border: none;
	margin: 0px;
}

.row {
	width: 100%;
}

.banner {
    width: 100%;
    max-height: 570px;
    overflow: hidden;
}

p {
	font-size: 14px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 18px;
}

@media screen and (min-width: 1400px) {
	.container {
		width: 74%;
	}
}

#hd_bottom_1 {
	background-color: #dab766;
	height: 1px;
	border: none;
	margin: 0px;
}

.b-border {
	border: 0;
}


.linkRoute {
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #3d2b15;
	color: #feefc6;
}

.linkRoute a {
	color: #ffe9b7;
	margin: 0 15px;
	font-size: 14px;
}

.linkRoute a:hover {
	color: #c8a65c;
}

.linkRoute .firstLink {
	margin-left: 0;
}

.activity_box .wrapper {
	margin: 0 auto;
	float: none;
	padding: 0;
}

.activity_box .wrapper .pic {
	margin-bottom: 50px;
}

.activity_box .wrapper .pic img {
	width: 100%;
}

.activity_box .wrapper .content {
	border-bottom: 1px solid #3d2b15;
}

.activity_box .wrapper .content h3 {
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	margin-bottom: 9px;
	margin-bottom: 20px;
}

.activity_box .wrapper .content p {
	height: 24px;
	line-height: 24px;
	font-size: 13px;
}

.activity_box .wrapper .content .address {
	margin-bottom: 35px;
}

.activity_box .wrapper .content .finish {
	margin-bottom: 35px;
}

.activity_box .wrapper .artical {
	padding: 40px 0 80px;
	border-bottom: 1px solid #3d2b15;
}

.activity_box .wrapper .artical p {
	line-height: 24px;
}

.activity_box .wrapper .btn_baoming a {
	color: #140a01;
	display: block;
	width: 400px;
	height: 40px;
	background-color: #dab765;
	line-height: 40px;
	text-align: center;
	margin: 58px auto 160px;
	border-radius: 5px;
	border: 1px solid #dab765;
}

.activity_box .wrapper .btn_baoming a:hover {
	color: #dab765;
	background: #140a01;
}


/* 文章 */

body {
	line-height: 23px;
}


/*导航*/

a:hover {
	color: #ffebbf;
}

.breadCrumbs {
	color: #FFF5DD;
	font-size: 14px;
}

.breadCrumbs>div {
	height: 100%;
	margin: auto;
	padding: 3% 0;
}

.breadCrumbs>div span {
	margin-right: 1%;
	color: #ECD8B1;
}

.toIndex:hover,
.toShow:hover,
.gallery:hover {
	color: #DAB766;
	cursor: pointer;
}

.container-box {
	width: 100%;
}

.article-head {
	margin: 58px 0 0px 0px;
}

.mytitle {
	margin-bottom: 20px;
}

.time-box {
	color: #917a41;
}

.summary-box {
	width: 100%;
	border-top: 1px solid #3d2c15;
	border-bottom: 1px solid #3d2c15;
}

.summary {
	padding: 37px 37px 39px 49px;
}

.content {
	margin-bottom: 80px;
	padding: 0px 37px 0px 49px;
}

/*.content p {
	text-indent: 2em;
}*/

    .content img {
        max-width: 100%;
        vertical-align: bottom;
    }

.mg {
	margin: 30px 0;
}

.sub-title {
	font-size: 22px;
	margin: 23px 0;
}

.secondNav {
	background-color: #3d2b15;
	height: 1px;
	border: none;
	margin: 0px;
}


/*侧栏*/

main aside {
	margin-left: 5%;
}

.aside-box {
	padding: 29px;
	min-height: 330px;
	border: 1px solid #3d2c15;
	top: 312px;
}

.aside-title {
	padding-bottom: 20px;
}

.link-box {
	margin-top: 18px;
	border-top: 1px solid #3d2c15;
	padding-top: 10px;
}

p.link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 25px;
}

.bm-line {
	width: 100%;
	border-top: 1px solid #d8b964;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.content {
		margin-bottom: 100px;
	}
	.aside-box {
		/*float:left;*/
		padding: 0;
		min-height: 200px !important;
		position: static;
	}
	main aside {
		margin-left: 0;
	}
	.aside-title {
		text-align: center;
	}
	.aside-title h4 {
		padding-top: 3%;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		width: 74%;
	}
	main aside {
		margin-left: 4%;
	}
}

@media screen and (min-width: 992px) {
	.aside-box {
		width: 15%;
		min-width: 220px;
		position: fixed;
	}
}


/*# sourceMappingURL=speakInfo.css.map */
/*修改*/
@media screen and (max-width:768px) {
    .linkRoute {
        display: none;
    }
    .content {
        margin-bottom: 80px;
        padding: 0px 15px;
    }
    .article-head {
        margin: 30px 0 0px 0px;
        text-align: center;
    }
}