<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>金沙遗址博物馆管理系统</title>
    <link rel=icon href=static/logo.png type=image/x-icon>
    <link href=/static/css/app.dcdfd3dac112ffa9af1fb90769dd3daa.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script src=static/iconfont.js></script>
    <script type=text/javascript src=/static/js/manifest.ae8bc25736ca4bdf039f.js></script>
    <script type=text/javascript src=/static/js/vendor.b14d9f52acaece4f7554.js></script>
    <script type=text/javascript src=/static/js/app.cc1d7bf8472bb605d60a.js></script>
</body>
</html>