body{padding: 0;margin: 0;height: 100%;}
.content{
	position: relative;
    min-width: 1280px;
    height: 1084px;
    background-image: url("../img/strategy_valuableBook/back.png");
    background-position: center;
}
/*树叶飘动*/
.glass{
	position: absolute;
	top: -20px;
	width: 100%;
<<<<<<< HEAD
    left:0;
=======
>>>>>>> remotes/origin/000040-025
}
.content-box{
    width: 1200px;
    height: 100%;
    /*outline: 1px solid red;*/
    margin: auto;
}
.crumbs{
    width: 100%;
    height: 212px;
    /*outline: 1px solid red;*/
}
.nav1{
    width: 250px;
    height: 650px;
    /*outline: 1px solid red;*/
    float: left;
}
.nav1 img{
    /*outline: 1px solid red;*/
}
.nav1-1{
    margin-left: 45px;
    margin-top: 45px;
}
.nav1-2{
    margin-left: 29px;
    margin-top: 35px;
}
.nav1-3{
    margin-left: 20px;
    margin-top: 30px;
}
.nav1-4{
    margin-left: 50px;
    margin-top: 35px;
}
.nav1-5{
    margin-left: 10px;
    /*margin-top: 35px;*/
}
.content-box-middle{
    width: 293px;
    height: 400px;
    /*outline: 1px solid red;*/
    float: left;
    margin-left: 62px;
    margin-top: 145px;
}
.btn{
    width: 280px;
    height: 175px;
    /*outline: 1px solid red;*/
}
.btn1{
    /*outline: 1px solid red;*/
    margin-left: 70px;
}
.btn2{
    /*outline: 1px solid red;*/
    margin-left: 70px;
    margin-top: 20px;
}
.panorama{
    width: 293px;
    height: 166px;
    outline: 1px solid darkgoldenrod;
    margin-top: 55px;
    position:relative;
}
/*购票地点*/
.content-box-right1{  width: 450px;  height: 450px;  float: left;  margin-left: 75px;  margin-top: 145px;
    /*outline: 1px solid red;*/
}
.right-1{  width: 450px;  height: 400px;
    /*outline: 1px solid red;*/
}
.right-1 img{  width: 100%;  max-height: 400px;
    /*outline: 1px solid red;*/
}
.alert{
    display: none;
    position: fixed;
    height: 100%;
    max-height:1000px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
}
.maps {
    height: 100%;
    margin:0 auto;
    display:block;
}
.panorama span {
    font-size: 30px;
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -71px;
}
.panorama img {
    width: 293px;
    height: 166px;
}