body{padding: 0;margin: 0;height: 100%;}
.content{
	position: relative;
    min-width: 1280px;
    height: 1543px;
    background-image: url("../img/strategy_childrenTalk/back1.png");
    background-position: center;
}
.content-box{
    position:relative;
    width: 1200px;
    height: 100%;
    /*outline: 1px solid red;*/
    margin: auto;
}
.childVideo {
    position: absolute;
    top: 200px;
    left: 910px;
}
.childRadio {
    position: absolute;
    top: 800px;
    left: 910px;
}

.crumbs {
    position: relative;
    width: 100%;
    height: 212px;
    /*outline: 1px solid red;*/
}
.nav1{
    width: 225px;
    height: 600px;
    /*outline: 1px solid red;*/
    float: left;
    margin-top: 50px;
    background-image: url("../img/strategy_childrenTalk/zhuzi.png");
    background-position: center;
    background-repeat: no-repeat;
}
.nav1 img{
    /*outline: 1px solid red;*/
}
.nav1-1{
    margin-top: 30px;
    margin-left: 30px;
}
.nav1-2{
    margin-left: 45px;
    margin-top: 20px;
}
.nav1-3{
    margin-top: 30px;
}
.nav1-4{
    /*margin-left: 35px;*/
    /*margin-top: 30px;*/
}
.nav1-5{
    margin-left: 10px;
    margin-top: 15px;
}
.content-conter{
    margin-top: -120px;
    width: 970px;
    height: 1200px;
    position: relative;
    /*outline: 1px solid red;*/
    float: right;
}
.video-box {
    position: relative;
    width: 100%;
    height: 600px;
    /*outline: 1px solid red;*/
    background-image: url("../img/strategy_childrenTalk/book2.png");
    background-position: center;
    background-repeat: no-repeat;
}
.video-child{
    width: 246px;
    height: 313px;
    background-image: url("../img/strategy_childrenTalk/wawa1.png");
    /*outline: 1px solid red;*/
    /*position: relative;*/
    /*left: 30px;*/
    float: left;
    margin-top: 287px;
}
.video-book{
    width: 310px;
    height: 370px;
    /*outline: 1px solid red;*/
    float: right;
    margin-top: 170px;
    margin-right: 150px;
}
.name{
    width: 180px;
    height: 40px;
    /*outline: 1px solid red;*/
    margin-top: 30px;
    float: left;
}
.name img{
    float: left;
    /*outline: 1px solid red;*/
    margin: 11px 10px;
}
.name p{
    float: left;
    line-height: 40px;
    font-size: 18px;
}
.headImg{
    width: 80px;
    height: 100px;
    /*background-image:  url("../img/strategy_childrenTalk/head.png");*/
    background-color: #99611d;
    border: 3px solid #fcf5d4;
    border-radius: 10px;
    overflow: hidden;
    float: right;
}
.headImg img{
    width: 100%;
    height: 100%;
}
.video-text{
    display: inline-block;
    width: 310px;
    height: 70px;
    overflow-y:scroll;
    /*margin-left: 25px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}
.video-text p{
    font-size: 14px;
    padding-right:14px;
}
.video-video{
    width: 310px;
    height: 180px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}
.voice-box{
    width: 100%;
    height: 600px;
    /*outline: 1px solid red;*/
    background-image: url("../img/strategy_childrenTalk/book2.png");
    background-position: center;
    background-repeat: no-repeat;
}
.voice-child{
    width: 447px;
    height: 350px;
    /*outline: 1px solid red;*/
    display: inline-block;
    background-image: url("../img/strategy_childrenTalk/wawa2.png");
    margin-top: 250px;
    float: left;
    position: relative;
}
.voice{
    /*outline: 1px solid red;*/
    width: 250px;
    position: relative;
    left: 170px;
    top: 270px;
}
.voice-text{
    display: inline-block;
    width: 310px;
    height: 250px;
    overflow-y:scroll;
    /*margin-left: 25px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}
.voice-text p{
    font-size: 14px;
    padding-right:14px;
}
.upPage{
    width: 76px;
    height: 76px;
    position: relative;
    background-image: url("../img/strategy_childrenTalk/up.png");
    left: 843px;
    top: 190px;
}
.upPage a{
	width: 76px;
    height: 76px;
    display: block;
}
.mextPage{
    width: 76px;
    height: 76px;
    position: relative;
    background-image: url("../img/strategy_childrenTalk/next.png");
    left: 843px;
    top: 190px;
}
.mextPage a{
	width: 76px;
    height: 76px;
    display: block;
}
.audiojs {
	position: absolute;
	bottom: 52px;
	right: 22px;
	width: 250px;
	z-index: 999;
	background: #cd9c57;
}
.audiojs .scrubber{
	width: 90px;
	height: 6px;
	margin-top: 15px;
	background: #bc9355;
}
.audiojs .progress{
	height: 6px;
	background-image: url("../img/strategy_childrenTalk/scrollBar.png");
	background-repeat-x: repeat;
}
.audiojs .loaded{
	height: 6px;
}
.audiojs .play-pause{
	border-right: 1px solid #a67846;
}
.audiojs .time{
	border-left: 1px solid #a67846;
}
.audiojs .loaded{
	background: #a67846;
}
/*分页*/

.pageToolbar {
	margin-top: 60px;
	position: relative;
}
.pageToolbar .ui-paging-container{
	position: absolute;
	width: 76px;
	right: 60px;
	top: 180px;
}
.audio{
	position: relative;
}
.pageToolbar .ui-paging-container ul li{
	cursor: pointer;
	margin: 0 10px;
    display:nonoe==;
}
.pageToolbar .ui-paging-container ul .js-page-first,
.pageToolbar .ui-paging-container ul .js-page-last {
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: #ffda84;
	font-size: 14px;
	color: #170801;
	display: none!important;
}

.pageToolbar .ui-paging-container ul [data-page] {
	display: none!important;
}
.pageToolbar .ui-paging-container ul .js-page-prev,
.pageToolbar .ui-paging-container ul .js-page-next {
	width: 76px;
	height: 76px;
}
.pageToolbar .ui-paging-container ul .js-page-prev{
	background: url("../img/strategy_childrenTalk/up.png") no-repeat center ;
    display:block!important;
}
.pageToolbar .ui-paging-container ul .js-page-next {
    background: url("../img/strategy_childrenTalk/next.png") no-repeat center;
    display: block !important;
}

.pageToolbar .ui-paging-container ul .ui-paging-toolbar {
	height: 30px;
	vertical-align: top;
	display: none!important;
}

.pageToolbar .ui-paging-container ul .ui-paging-toolbar .ui-paging-count {
	width: 60px;
	height: 30px;
	border: 1px solid #d8b865;
	background-color: transparent;
}

.pageToolbar .ui-paging-container ul .ui-paging-toolbar a {
	font-size: 14px;
	line-height: 30px;
	border: 0;
	color: #b59852;
}
.ui-paging-container li {
    display: block;
    color: #666;
}
#pageTool-2 .ui-paging-container{
	top: -478px;
    right:49px;
}
#cover-img{
    position:absolute;
    left:167px;
    top:224px;
    width:216px;
    height:130px;
}
#cover-img2 {
    position: absolute;
    left: 190px;
    top: 224px;
    width: 216px;
    height: 130px;
}
.glass {
    width: 100%;
    min-width: 1280px;
    height: 280px;
    top: 0;
    background-image: url(../img/common/leaf2.gif);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left:0;
}
.inner-box{
    position:absolute;
    z-index:9999
}
#musicDocker {
    background-image: url("../img/strategy_childrenTalk/book3.png");
}