*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 0;
}


/* 内容 */
.empty{
    height: 110px;
}

.content{
    height: 1156px;
    width: 100%;
    min-width: 1280px;
    background: url(../img/vip_exchange/content.png) no-repeat center;
}

.form{
    width: 1200px;
    margin: auto;
    overflow:hidden;
}

.label{
    margin-left: 60px;
    width: 1140px;
    height: 211px;
    position: relative;
}
.inner{
	 width: 1140px;
    height: 211px;
    position: absolute;
    z-index: 99;
}

.leaf{
    background: url(../img/common/leaf2.gif) no-repeat center;
    width: 100%;
    height: 280px;
    position: absolute;
    z-index: 4;
    top: 110px;
    min-width: 1280px;
    left:0;
}

.rule{
    font-size: 0;
}
   
.rule>div{
    float:left;
}

.ruleContent{
    width: 890px;
    height: 684px;
    background: url(../img/vip_exchange/level.png) no-repeat center;
    margin-left: 20px;
}

.choose{
    width: 229px;
    height: 586px;
    background: url(../img/vip_exchange/pillars.png) no-repeat center;
    vertical-align: top;
    display: inline-block;
    margin-top: 50px;
    /* margin-left: 70px; */
}

.chooseA_1{
    margin-left: 50px;
    margin-top: 20px;
}

.chooseA_2{
    margin-left: 40px;  
    transform: rotate(-5deg);
    margin-top: 20px;
}

.chooseA_3{
    margin-left: 20px
}

.chooseA_4{ 
     margin-left: 40px;  
     transform: rotate(15deg);
     margin-top:20px
}

.chooseA_5{
    margin-left: 50px;
    transform: rotate(15deg);
    margin-top: 20px;
}

.tab{
    margin-top: 85px;
    margin-left: 105px;
}

.switch{
    display: none;
}

.integral,.level{
    width:50px;
    display: inline-block;
    font-size: 22px;
    font-family: "Adobe 黑体 Std R";
    font-weight: 900;
    color: #fff;
}

.titalText{
    margin-top: 37px;
    margin-left: 315px;
}

.level{
    margin-left: 265px;
}

.apply>div{
    display: inline-block;
    vertical-align: top;
}

.apply p{
    font-size: 19px;
    color: #6b3720;
}
.IntegralTab .apply p{
	margin-bottom: 30px;
}
.name{
    margin-left: 20px;
    font-weight: 700;
}

.name p:nth-child(2){
    margin-top: 5px;
}

.name img{
    margin-top: 13px;
    cursor: pointer;
}

.apply{
    margin-top: 30px;
}

.IntegralTab{
    display: none;
}

.tab img{
     cursor: pointer;
}

.tabContent{
    height: 285px;
    width: 640px;
    overflow: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 140px;
}

/*弹窗*/
#mask{
	display: none;
	position: fixed;
	width: 600px;
	height: 400px;
	left: 50%;
	margin-left: -300px;
	top: 50%;
	margin-top: -200px;
	background: url(../img/common/login-mask.png) no-repeat center center;
	z-index: 999;
}
#mask h3{
	font-size: 24px;
	text-align: center;
	margin: 64px 0 30px;
	font-family: "黑体 Regular";
	color: #4c2904;
}
#mask p{
	padding: 50px 40px;
	font-size: 26px;
	font-family: "黑体 Regular";
    text-align:center;

}
.close{
	position: absolute;
	right: 10px;
	top:0;
	font-size: 60px;
	line-height: 50px;
	cursor: pointer;
    width:70px;
    height:101px;
    background:url(../img/common/close-login.png) no-repeat center center;
}
