@media screen and (max-width: 996px) {
  .ui-paging-toolbar .ui-paging-count {
    display: none;
  }
    .ui-paging-container li.ui-paging-toolbar {
        display: none;
    }
  .ui-paging-toolbar a {
    display: none !important;
  }

  .pageToolbar .js-page-first, .pageToolbar .js-page-last {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .pageToolbar .ui-paging-container li {
    margin-left: 5px;
  }
}
.ui-paging-container {
  color: #d8b865;
  font-size: 12px;
}

.ui-paging-container ul {
  overflow: hidden;
  text-align: center;
}

.ui-paging-container ul, .ui-paging-container li {
  list-style: none;
}

.ui-paging-container li {
  display: inline-block;
  margin-left: 30px;
  color: #666;
}

.ui-paging-container li.ui-pager {
  cursor: pointer;
}

.ui-paging-container li.ui-pager:hover, .ui-paging-container li.focus {
  background-color: #dab763;
  color: #160700 !important;
}

.ui-paging-container li.ui-paging-ellipse {
  border: none;
}

.ui-paging-container li.ui-paging-toolbar {
  padding: 0;
}

.ui-paging-container li.ui-paging-toolbar select {
  height: 22px;
  border: 1px solid #ddd;
  color: #666;
}

.ui-paging-container li.ui-paging-toolbar input {
  line-height: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid #ddd;
  text-align: center;
  width: 30px;
  margin: 0 0 0 5px;
  vertical-align: middle;
}

.ui-paging-container li.ui-paging-toolbar a {
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  height: 20px;
  border: 1px solid #ddd;
  vertical-align: top;
  border-radius: 2px;
  line-height: 20px;
  padding: 0 3px;
  cursor: pointer;
  margin-left: 5px;
  color: #666;
}

.ui-paging-container li.ui-pager-disabled, .ui-paging-container li.ui-pager-disabled:hover {
  cursor: default;
  border: none;
  color: #f6f6f6;
}

.ui-select-pagesize {
  display: none;
}
.pageToolbar {
  margin-top: 80px;
  margin-bottom: 252px;
}
.pageToolbar .ui-paging-container ul .js-page-first, .pageToolbar .ui-paging-container ul .js-page-last {
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #dab765;
  font-size: 14px;
  color: #170801;
}
.pageToolbar .ui-paging-container ul [data-page] {
  width: 20px;
  height: 20px;
  color: #d9b665;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
    .pageToolbar .ui-paging-container ul .js-page-prev, .pageToolbar .ui-paging-container ul .js-page-next {
        width: 60px;
        cursor: pointer;
        height: 30px;
        line-height: 28px;
        border: 1px solid #ffda84;
        color: #b59852;
    }

    .pageToolbar .ui-paging-container ul .ui-paging-toolbar {
        height: 30px;
        vertical-align: top;
    }

        .pageToolbar .ui-paging-container ul .ui-paging-toolbar .ui-paging-count {
            width: 60px;
            height: 30px;
            border: 1px solid #d8b865;
            font-size:14px;
            color:#dab766;
            background-color: transparent;
            outline: none;
        }

            .pageToolbar .ui-paging-container ul .ui-paging-toolbar .ui-paging-count input {
                outline: none;
            }

        .pageToolbar .ui-paging-container ul .ui-paging-toolbar span {
            font-size: 14px;
            border: 0;
            color: #b59852;
        }

        